<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreWebpack</title>

    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - CoreWebpack</p>
        </footer>
    </div>

    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>

    @RenderSection("Scripts", required: false)
    <script src="~/dist/main-client.js"></script>
</body>
</html>
